extends ../layouts/app
block content
   
    h1 Create User
    if errors
        each error in errors
            .alert.alert-danger=error

    form(action="/users/create" method="post" enctype="multipart/form-data")
        .form-group
            label(for="name") Name of user: 
            input.form-control(type="text" name="name" value=old?old.name:'')
        .form-group
            label(for="phone") Phone of user: 
            input.form-control(type="text" id="phone" value=old?old.phone:'' name="phone")    
        .form-group
            label(for="avatar") Avatar: 
            input.form-control-file(type="file" id="avatar" value=old?old.phone:'' name="avatar")    
        input.btn.btn-primary(type="submit" value="Create")
