extends ../layouts/app
block content
    h1 New transfer

    form(method="post")
        input(type="hidden", name="_csrf" value=csrfToken)
        .form-group
            label(for="accountId") Account: 
            input.form-control(type="text" name="accountId")
        .form-group
            label(for="amount") Amount: 
            input.form-control(type="number" id="amount" name="amount")    
        input.btn.btn-primary(type="submit" value="Transfer")